[template]
version = 1.3

# Logoptions
logform = raw/list/report
logmode= mail/file
loguser = loguser
logpath = /mnt/datastore/logshare
logserver = logserver.mydomain.com

# General Options, Source- and Targetserver, Ports, Mode and Filesystem
sourceserver = sourceserver.mydomain.com 222
targetserver = targetserver.mydomain.com 222
mode = kvm/rsync/mysql
filesystem = btrfs/zfs/file
user = testuser / testuser:testgroup
certificate = /etc/ssl/mycert.pem
rsync-options = -ash--delete-after--stats
sql-options = (not yet tested)

# Source- and Targetpaths. ZFS doesn't read Root and Offset is Optional
snapshot-path (source) = /mnt/datastore1/intermediate_directory (zfs/btrfs/file)
snapshot-path (target) = /mnt/datastore2/intermediate_directory (zfs/btrfs/file)
root-path (source) = /mnt/datastore1/rsync_directory (zfs/btrfs/file)
root-path (target) = /mnt/datastore2/rsync_directory (zfs/btrfs/file)
offset-path (source) = files/files_to_backup (rsync/mysql with zfs/btrfs)
offset-path (target) = files-backup/files_backed_up (rsync/mysql with zfs/btrfs)

# Snapshot Name, Dateformat, Name of the Snapshotlist or Number to keep and Remote Options
snapshotformat (name) = auto-03
snapshotformat (date) = %Y%m%d-%H%M
snapshotlist (source) = datastore1 daily
snapshotlist (target) = datastore2 daily
snapshotnumber (source) = 5
snapshotnumber (target) = 5
snapshotremote (source) = server(default)/ssh(remote-own-snapshot)/local(file-based-only)/direct(sql-only)
snapshotremote (target) = server(default)/ssh(remote-own-snapshot)/local(file-based-only)/direct(sql-only)

# Syncoptions like Synclist or Name, Su- and Prefixes and VMID. Each is treated like an array
synclist = A B C D E F
syncname = share1 share2 share3
newsyncname = newshare1 newshare2 newshare3
syncnameprefix = prefix-
syncnamesuffix = -suffix
VM-ID = 100 101 102 (kvm only)
